METRIC=status,bugs,codesmells,coverage,duplications,lines,maintainability,reliability,security,vulnerabilities
PORT=9000
REMOTE=sonarqube.server
AUTHORIZATION=sonarqube.token
SECRET=

# comment out if you want to get json response from sonarqube (usefull with shield.io)
#JSON=true

# comment out if sonarqube SSL certificate is not valid
#INSECURE_SKIP_VERIFY=true
